@model WEB.Pages.CarType.CarType

@{
    ViewData["Title"] = "Edit";
}


<div class="f" style="margin-left: 200px; margin-right: 200px;">
    <b style="font-size: 40px">Edit</b>

<h4>CarType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="EditCarType" onsubmit="return confirm('Are you sure you want to do this?')">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="type_id" />
            <div class="form-group">
                <label asp-for="car_type_name" class="control-label"></label>
                <input required maxlength="15" asp-for="car_type_name" class="form-control" />
                <span asp-validation-for="car_type_name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexCarType">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
