@model WEB.Pages.DriveType.Drive_type

@{
    ViewData["Title"] = "Create";
}

<div class="f" style="margin-left: 200px; margin-right: 200px;">
    <b style="font-size: 40px">Create</b>
<h4>Drive_type</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="CreateDriveType" onsubmit="return confirm('Are you sure you want to do this?')">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="drive_name" class="control-label"></label>
                <input required maxlength="5" asp-for="drive_name" class="form-control" />
                <span asp-validation-for="drive_name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexDriveType">Back to List</a>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
